.form-group.floating-label {
  position: relative;
  margin-bottom: 25px;
}

.floating-label .control-label {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  line-height: 22px;
  top: 5px;
  left: 5px;
  transform: translate3d(0, 0, 0) scale(1);
  transform-origin: left top 0px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
}

.form-group.floating-label.has-focus .control-label {
  opacity: 1;
  top: -20px;
  transform: perspective(1px) scale(0.75);
}

.floating-label.has-feedback label ~ .form-control-feedback {
  top: 0;
}

.floating-label .form-control::-webkit-input-placeholder {
  color: transparent;
  transition: 240ms;
}

..floating-label form-control:focus::-webkit-input-placeholder {
  transition: none;
}

.floating-label .form-group.has-focus .form-control::-webkit-input-placeholder {
  color: #bbb;
}
